<!DOCTYPE html>
<html lang="">
<head>
<title>Net Full's Blog</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="static\style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <ul class="nospace">
      <li><a href="/"> Home</a></li>
      {% if current_user.is_authenticated %}
        <li><a href="/logout"></i> Logout</a></li>
      {% else %}
        <li><a href="/login"> Login</a></li>
        <li><a href="/signup"> Sign Up</a></li>
      {% endif %}
    </ul>
  </div>
  
</div>
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <section> 
      <div>+20 102 141 6862</div>
      <div>
        <h1 id="logo"><a href="index.html">NET FULL</a></h1>
      </div>
      <div>
        <form class="clear" method="get" action="{% url 'blog_search' %}">
            <fieldset>
                <legend>Search:</legend>
                <input type="search" name="q" value="" placeholder="Search Here&hellip;">
                <button class="fa fa-search" type="submit" title="Search"><em>Search</em></button>
            </fieldset>
        </form>
    </div>
    
    </section>
    <nav id="mainav"> 
      <ul class="clear">
        <li class="active"><a href="index.html">Home</a></li>  
        <li><a href="#">Link Text</a></li>
      </ul>
    </nav>
  </header>
</div>
<main class="container">
  <aside class="sidebar">
    {% for post in posts %}
    <div class="sidebar-post" style="margin-bottom: 20px; border: 1px solid #ccc; padding: 10px; width: 300px;">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="Image for {{ post.title }}" style="max-width: 100%; height: auto;">
        {% endif %}
        <h4 style="font-size: 16px; margin: 10px 0;"><a href="{% url 'view_post' post.id %}">{{ post.title }}</a></h4>
    </div>
    {% endfor %}
  </aside>
</main>

<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <div class="one_quarter first">
      <h6 class="heading">Contact Us</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-phone"></i> +20 102 141 6862</li>
        <li><i class="fa fa-envelope-o"></i> netfull66@gmail.com</li>
      </ul>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="https://web.facebook.com/profile.php?id=61561751296406" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-instagram" href="https://www.instagram.com/netfull1/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>

    <div class="one_quarter">
      <p class="nospace btmspace-15">Contact Us </p>
      <form method="post" action="{% url 'contact' %}">
        {% csrf_token %}
        <fieldset>
            <legend>Newsletter:</legend>
            <input class="btmspace-15" type="text" name="name" value="" placeholder="Name" required>
            <input class="btmspace-15" type="email" name="email" value="" placeholder="Email" required>
            <textarea class="btmspace-15" name="message" placeholder="Message" required></textarea>
            <button type="submit" value="submit">Submit</button>
        </fieldset>
    </form>
    
    </div>
    <div class="clear"></div>
    <div class="center">
      <p>&copy; 2024 Website by <strong>Net Full Inc.</strong> All rights reserved.</p>
    </div>
  </footer>
  
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<script src="js\jquery.min.js"></script>
<script src="js\jquery.backtotop.js"></script>
<script src="js\jquery.mobilemenu.js"></script>
</body>
</html>