<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <title>Stand CSS Blog by TemplateMo</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'flex-slider.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'templatemo-stand-blog.css' %}">
    <link rel="stylesheet" href="{% static 'owl.css' %}">
<style>
.navbar-brand {
  text-align: center;
  display: inline-block;
}

.navbar-logo {
  max-width: 100px; /* Adjust image size */
  display: block;
  margin: 0 auto;
}

</style>
<!--

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
      <div class="jumper">
          <div></div>
          <div></div>
          <div></div>
      </div>
  </div>  
  <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container text-center">
          <a class="navbar-brand" href="/">
            <img src="static/assets/images/netfull.png" alt="" class="navbar-logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog">Blog Entries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    
    
    

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="flexslider">
      <div class="container-fluid">
        <div class="owl-banner owl-carousel">
          {% for post in posts %}
          <div class="item">
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>{{ post.title }}</span>
                </div>
                <a href="{% url 'view_post' post.id %}"><h4>{{ post.content }}</h4></a>
                <ul class="post-info">
                  <li><a href="#">{{ post.author }}</a></li>
                  <li><a href="#">{{ post.publication_date }}</a></li>
                  <li><a href="#">{{comments_count}} Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
    
    <!-- Banner Ends Here -->




    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{ random_post.image.url }}" alt="">  <!-- Assuming image field in BlogPost model -->
                    </div>
                    <div class="down-content">
                      <span>{{ random_post.title }}</span> <!-- Category if available -->
                      <a href="{% url 'view_post' random_post.id %}"><h4>{{ random_post.content }}</h4></a> <!-- Post title -->
                      <ul class="post-info">
                        <li><a href="#">{{ random_post.author }}</a></li>  <!-- Author -->
                        <li><a href="#">{{ random_post.publication_date }}</a></li> <!-- Date -->
                        <li><a href="#">{{ comments_count }} Comments</a></li> <!-- Number of comments -->
                      </ul>
                      <div class="post-options">
                        <div class="row">
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
                
                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="/blog">View All Posts</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="{% url 'blog_search' %}">
                      <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for post in recent_posts %}
                        <li>
                          <a href="post/{{post.id}}">
                            <h5>{{ post.title }}</h5>  <!-- Post title -->
                            <span>{{ post.publication_date }}</span>  <!-- Post creation date -->
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
    </section>

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="https://www.facebook.com/profile.php?id=61561751296406">Facebook</a></li>
              <li><a href="https://www.instagram.com/netfull1/">Instgram</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>Made By Net Full

              </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static\js\jquery.min.js"></script>
    <script src="static\js\bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="static\js\custom.js"></script>
    <script src="static\js\owl.js"></script>
    <script src="static\js\slick.js"></script>
    <script src="static\js\isotope.js"></script>
    <script src="static\js\accordions.js"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>